.Joipage {
    background-color: #607D8B;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Joincontainer {
    
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .Joincontainer > img {
    width: 10vmax;
  }
  
  .Joincontainer > h1 {
    color: white;
    font-size: 2.5vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 2vmax;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
  
  #Joininput {
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
  }
  
  .joinbtn {
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    outline: none;
    font-size: 1.2vmax;
    background-color: #00BCD4;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .joinbtn:hover {
    background-color: rgb(180, 27, 58);
  }
  