.messageBox{
    padding: 0.6vmax;
    margin: 1vmax;
    border-radius: 0.5vmax;
    background-color: #d7cccc;
    clear: both;
    font-size: 1.5vmax;
    font-family: "Roboto", sans-serif;
    width: 200px;
    display: inline-block;
}

.right{
     
    float: right;
    background-color: #00BCD4;
    color: black;
    text-align: left;
}

.left{
    float: left;
    text-align: left;
    background-color: rgb(196, 255, 184);
    
}